.summery {
    background-color: #232121; /* Grey color */
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    margin: 0 auto; /* Center the card horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    color: white;
    text-align: center;
  }
  
  .summery h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .summery p {
    font-size: 16px;
    line-height: 1.6;
  }
  